<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- 리스너를 등록하여 root 컨텍스트가 생성되게만든다.
		루트 웹 어플리케이션 컨텍스트의 디폴트 설정파일은 /WEB-INF/applicationContext.xml이다. 
		만약 사용할 이름이 다르거나, 설정파일이 여러개인 경우 contextConfigLocation이라는 컨텍스트 파라미터를 추가하여 설정해준다.
		
		웹 환경과 관련 없는 빈(예를 들어 서비스 계층, 데이터 액세스 계층 등)은 root 컨텍스트에 등록한다.
   -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  <!-- 프레젠테이션 계층의 빈을 등록할 컨텍스트
  		DispatcherServlet은 초기화 시에 서블릿 레벨의 웹어플리케이션 컨텍스트를 생성해준다.
  		서블릿 컨텍스트가 사용할 설정파일 이름은 서블릿 이름뒤에 -servlet.xml을 붙인것을 디폴트로한다.
   -->
  <servlet>
  	<servlet-name>start</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>start</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>