<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
	<servlet>
		<servlet-name>start</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
  <!-- DispatcherServlet은 기본적으로 WEB-INF/ 디렉터리에 위치한 [서블릿이름]-servlet.xml 파일 로부터 스프링 설정 정보를 읽어온다. (start-servlet.xml 참고)
             이파일에서는 HandlerMapping, Controller, ViewResolver,View등의 빈을 설정하게 된다. -->
  
	<servlet-mapping>
		<servlet-name>start</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
</web-app>
